In [20]:
import pandas as pd

In [21]:
train = pd.read_csv('./datasets/train.csv')

In [22]:
train.head()

   Unnamed: 0  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           2       3  female  26.0
3           3       1  female  35.0
4           4       3    male  35.0

In [23]:
dataset=train[['Pclass', 'Sex', 'Age']]

In [24]:
dataset.head()

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [25]:
dataset.to_csv('datasets/train.csv')

In [26]:
dataset.isnull().sum()

Pclass      0
Sex         0
Age       177
dtype: int64

In [28]:
age_mean = dataset['Age'].mean()
dataset[dataset['Age'].isnull()]=age_mean

C:\Users\Vadim\AppData\Local\Temp\ipykernel_19188\2982296799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[dataset['Age'].isnull()]=age_mean

In [29]:
dataset.isnull().sum()

Pclass    0
Sex       0
Age       0
dtype: int64

In [31]:
dataset.to_csv('datasets/train.csv')